.footer-section{
    background-color: #000;
    padding: 40px 0;
    .social-icon{
        padding: 20px 0px;
    }
    ul.social-icon li a {
        display: block;
        text-align: center;
        .MuiSvgIcon-root{
            color: #fff;
            padding: 3px;
        }
    }
    .social-icon2{
        .head{
            padding: 0px 22px;
        }
       ul li{
        list-style: none;
        margin-left: -10px;
        a{
            text-decoration: none;
            &:hover{
                color: #fff !important;
            }
        }
       }
    }
    .last-footer{
        span:hover{
            color: #2e7eed;
        }
    }

}