
.InterfaceStyle{

    .iphone{
 .head{
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 35px;
  

}
.para{
    font-size: 14px;
    letter-spacing: 0;
    color: #808080;
    margin-bottom: 0;
}

.iphone-app{
margin-left: -16px;

}
    
}
}
.MuiSvgIcon-root{
    font-size: 35px!important;
    color: blue;
}

   
  

