.contact {
    .contact-page {
        .contact-header {
            .contact-image {
                background-image: url("../../assets/images/Mask Group 21.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: auto;
            }
        }
    }
}
