.showcase-section{
   
    .showcase-header{
        background-image: linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
    padding-bottom: 70px;
    border-radius: 0px 0px 70px 70px;

        .detail {

            .btn-main{
            padding: 21px 40px;
            background-color: blue;
            color: white;
            font-size: 20px;
        }
        img{
            height: auto;
        }
    }
        
    }
}